.course--list--container {
  display: grid;
  grid-template-rows: auto repeat(6, 1fr);
  grid-template-columns: 1fr;

  width: 1080px;
}

.list--view--headers {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 180px 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid var(--gray2);
  font-size: 14px;
  align-items: center;
  padding-left: 10px;
  height: 50px;
}
.list--heading {
  color: var(--gray2);
}
.sort--section {
  display: flex;
  align-items: center;
  gap: 5px;
}
.down--arrow {
  height: 16px;
}
.sort--section:hover {
  cursor: pointer;
}
.actions--heading {
  margin-left: 20px;
}
